1. Блог повинний бути доступний лише для співробітників і студентів університету.
	1.1 Блог повинний містити авторизацію користувача при кожному вході у блог.
	1.2 Блог повинний містити розділ реєстрація.
		1.2.1 Повинна проводитися перевірка користувача чи він являється студентом або співробітником.
2. Інформаційна складова блогу повинна бути розділеною на 3 групи : новини, події, ресурси.
	2.1 Розділ новини повинний мати вигляд стрічки новин, де новини відсортовані в порядку їх додавання: від найновішого до найстаршого.
	2.2 Розділ новини повинний надавати можливість здійснювати пошук по новинах за датою, назвою.
	2.3 Розділ події повинний мати вигляд списку зі заголовками подій, де події відсортовані в порядку їх додавання: від найновішого до найстаршого.
	2.4 Кожна подія повинна містити детальний опис.
	2.5 Розділ ресурси повинний містити архів матеріалів для скачування чи перегляду онлайн.
	2.6 Ресурси повинні бути відображені у вигляді списку, де ресурси відсортовані по алфавіту.
	2.7 Новини, події, ресурси повинні додаватися співробітниками бібліотеки.
3. Блог повинний надавати різний доступ для трьох груп користувачів : 
	1) Адміністратор блогу;
	2) Співробітник бібліотеки;
	3) Студент;
	3.1 Для адміністратора блогу доступний режим адміністрування сайту блогу.
	3.2 Для співробітника бібліотеки повинний бути наданий доступ, при якому співробітник може :
		3.2.1 Співробітник може переглядати, додавати, редагувати новини, події, ресурси.
		3.2.2 Співробітник може відповідати на коментарі студентів.
	3.3 Для студента повинний бути наданий доступ, при якому студент може :
		3.3.1 Студент може переглядати новини, події, ресурси.
		3.3.2 Студент може додавати коментарі до новин, подій, ресурсів.
		3.3.3 Студент повинний мати кабінет користувача, де зберігається інформація:
			1) інформація про студента.
			2) його коментарі.
			3) історія скачувань і переглядів ресурсів.
4. Доступ до блогу повинний бути доступний завжди для повної кількості студентів університету.
5. Блог повинний бути доступний для різних платформ:
	5.1 Для найпопулярніших браузерів ПК (IE, Opera, Safari, Chrome, Mozila).
	5.2 Повинна бути версія для мобільних телефонів, таких операційних систем: Android, iOS, Windows Phone.
